// colors
$white: #FFFFFF;
$black: #000000;

$primary-blue: #0E85F3;
$primary-green: #438945;
$primary-red: #F52C8D;

$font-color-light: #F7F4E9;
$font-color-gray: #6E798C;
$font-color-dark: #081F32;

$background-color-gray: #E5E5E5;
$background-color-dark: #1D1D2C;

$divider-color-gray: #E1E1E1;

//box-shadow
$standard-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.08);

// border-radius
$standard-border-radius: 8px;

// container widths
$container-large-desktop-width: 1588px;
$container-desktop-width: 1276px;

// breakpoints
$media-large-desktop: 1480px;
$media-small-desktop: 1200px;
$media-tablet: 1024px;
$media-mobile : 767px;
$media-mobile-small : 560px;
